@media (max-width: 768px) {
  .write-bar {
    display: flex;
    flex-direction: column;
  }
  .write-bar button {
    width: 100%;
    margin-top: 1vw;
    position: static;
    padding: 1vw 2vw;
  }
  .write-bar input{
    padding:1vw 2vw;
  }
  .container{
    width: -webkit-fill-available;
  }
}
